@media only screen and (min-width: 360px) and (max-width: 501px) and (orientation: portrait) {
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #333;
    color: #fff;
    /* padding: 1rem 0; */
    padding: 0.5rem 0;
    border-radius: 5px;
    margin-bottom: 5px;
}
    /* Estilos generales */
body {
    /* margin: 0; */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* font-size: 1.5rem; */
    font-weight: bold;
    margin-bottom: 5px;
    /* background: url('Imagenes/logo-header.webp') no-repeat center center/cover; */
}

header img {
    /* position: absolute; */
    position: relative;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 38px;
    /* margin: 0 5px 0 0; */
    margin: 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    /* color: #fff; */
    color: rgba(248, 180, 0, 1);
    /* text-decoration: none; */
    text-decoration: underline;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f4a261;
}

main {
    border-radius: 5px;
    background-color: #333;
    padding: 5px 0;
}

.hero {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: url('Imagenes/logo.jpg') no-repeat center center/cover; */
    /* background-image: url('Imagenes/fondo.png'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    color: #333;
    text-align: center;
    padding: 0 10px;
    margin: 5px 0 0;    
}

.hero h1 {
    /* position: relative; */
    position: absolute;
    color: #fff;
    z-index: 2;
    /* font-size: 2.5rem; */
    /* margin-bottom: 1rem; */
    top: 0;
    margin: 0;
}

.hero p {
    /* position: relative; */
    position: absolute;
    color: #fff;
    z-index: 2;
    font-size: 1.2rem;
    bottom: 0;
    margin: 0;
}

.hero img {    
    position: relative;    
    width: 100%;
    z-index: 1;
    margin: auto;
    border-radius: 5px;    
    box-shadow: 2px 2px 5px rgba(204, 204, 204, 0.6), -2px -2px 5px rgba(204, 204, 204, 0.2);
    animation: heartbeat 1.5s ease-in-out 5;
    opacity: 0.5;
}

.sobre-nosotros, .galeria, .contacto {
    /* padding: 2rem 1rem; */
    /* padding: 0 5px; */
    text-align: center;
    /* border: 1px solid red; */
}

/* .galeria {
    padding: 5px;
} */

.sobre-nosotros h2, .galeria h2, .contacto h2 {
    margin-bottom: 1rem;
    color: #f4a261;
    border: 1px solid #f8b400;
}

.sobre-nosotros p {
    color: #fff;
    margin: 0 5px;
}

.contacto p {
    color: #fff;
}

.galeria .imagenes {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    align-items: stretch;
    margin: 0 5px;
    /* border: 1px solid red; */
}

.galeria img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    /* border: 1px solid red; */
}

.galeria img:hover {
    transform: scale(1.05);
}

/* Estilos del lightbox (modal) */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 20px;
}

.imagen-ampliada {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    cursor: zoom-in;
}

/* Botón para cerrar */
.cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* max-width: 500px; */
    /* max-width: 90%; */
    /* margin: 0 auto; */
    margin: 0 5px 5px 5px;
}

.contacto input, .contacto textarea, .contacto button {
    /* width: 100%; */
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

}

.contacto button {
    background: #f4a261;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.contacto button:hover {
    background: #e76f51;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    /* margin-top: 2rem; */
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
}

footer p {
    margin: 0;
}

.ImgSocial {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    /* width: 30px; */
    /* height: 30px; */
}

.ImgSocial img {
    padding: 0 5px;
    width: 30px;
    height: 30px;    
    position: relative;
    /* position: absolute; */
    border-radius: 50%;
    cursor: pointer;    
}

.ImgSocial a {
    position: relative;
    cursor: pointer;
    height: 30px;    
}

}